@font-face {
 font-family: "WebFont";
 src:/* url(WebFont.woff) format("woff"),  все современные браузеры, IE9+ */
 url(unisansheavycaps.ttf) format("truetype"); /* все современные браузеры */
}
@font-face {
 font-family: "WebFont1";
 src: url(unisansthincaps.ttf) format("truetype"); /* все современные браузеры */
}
p {
    font-family: "WebFont", Arial, sans-serif;
    font-size: 40px;
margin: 0px 0px 0px 0px; 
    height: 2;}
   h1 {
     font-family: "WebFont1", Arial, sans-serif;
    src: url(unisansheavycaps.ttf);
    font-size: 15px;
margin: 0px 0px 0px 0px; 
    height: 2;

   }

.roww{
    display: flex;
    flex-direction:column;
}

.sos{
    width: 20px;
   height: 20px;
}

  /* h222 {
     font-family: unisansheavycaps; /* Гарнитура шрифта 
    src: url(unisansheavycaps.ttf);
    font-size: 40px;
margin: 0px 0px 0px 0px; 
    height: 2;
*/
.button {
   /* геометрия элемента */
   width: 300px;
   height: 50px;
   /* отступы между кнопками */
   margin-bottom: 5px;
   /* центрируем текст кнопки по вертикали */
   display: flex;
   margin:auto;
   justify-content: center;
   /* центрируем текст кнопки по горизонтали */
   text-align: center;
   /* чтобы работала геометрия и отступы у тега <a> */
   display: inline-block;
   /* убираем обводку у тега <a> */
   text-decoration: none;
   border-radius: 30px;
   background-color: red;
   color: #fff;
}
.button1 {
   /* геометрия элемента */
   width: 250px;
   height: 20px;
   /* отступы между кнопками */
   margin-bottom: 5px;
   /* центрируем текст кнопки по вертикали */
   display: flex;
   margin:auto;
   justify-content: center;
   /* центрируем текст кнопки по горизонтали */
   text-align: center;
   /* чтобы работала геометрия и отступы у тега <a> */
   display: inline-block;
   /* убираем обводку у тега <a> */
   text-decoration: none;
   border-radius: 10px;
   background-color: red;
   color: #fff;
}
.nav {
    /*  ширна произвольная, не стесняйтесь экспериментировать */
    width: 320px;
    min-width: 320px;
    /* фиксируем и выставляем высоту панели на максимум */
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    /* сдвигаем (прячем) панель относительно левого края страницы */
    left: -320px;
    /* внутренние отступы */
    padding: 15px 20px;
    /* плавный переход смещения панели */
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    transition: left 0.3s;
    /* определяем цвет фона панели */
    background: #16a085;
    /* поверх других элементов */
    z-index: 2000;
}
/**
 * Кнопка переключения панели
 * тег <label>
 */
 
.nav-toggle {
    /* абсолютно позиционируем */
    position: absolute;
    /* относительно левого края панели */
    left: 320px;
    /* отступ от верхнего края панели */
    top: 1em;
    /* внутренние отступы */
    padding: 0.5em;
    /* определяем цвет фона переключателя
     * чаще вчего в соответствии с цветом фона панели
    */
    background: inherit;
    /* цвет текста */
    color: #dadada;
    /* вид курсора */
    cursor: pointer;
    /* размер шрифта */
    font-size: 1.2em;
    line-height: 1;
    /* всегда поверх других элементов страницы */
    z-index: 2001;
    /* анимируем цвет текста при наведении */
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
 
/* определяем текст кнопки 
 * символ Unicode (TRIGRAM FOR HEAVEN)
*/
 
.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}
 
/* цвет текста при наведении */
 
.nav-toggle:hover {
    color: #f4f4f4;
}
 
/**
 * Скрытый чекбокс (флажок)
 * невидим и недоступен :)
 * имя селектора атрибут флажка
 */
 
[id='nav-toggle'] {
    position: absolute;
    display: none;
}
 
/**
 * изменение положения переключателя 
 * при просмотре на мобильных устройствах
 * когда навигация раскрыта, распологаем внутри панели
*/
 
[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 1em;
}
 
/**
 * Когда флажок установлен, открывается панель
 * используем псевдокласс:checked
 */
 
[id='nav-toggle']:checked ~ .nav {
    left: 0;
    box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}
 
/* 
 * смещение контента страницы
 * на размер ширины панели,
 * фишка необязательная, на любителя
*/
 
[id='nav-toggle']:checked ~ main > article {
    -webkit-transform: translateX(320px);
    -moz-transform: translateX(320px);
    transform: translateX(320px);
}
 
/*
 * изменение символа переключателя,
 * привычный крестик (MULTIPLICATION X), 
 * вы можете испльзовать любой другой значок
*/
 
[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}
 
/**
 * профиксим баг в Android <= 4.1.2
 * см: http://timpietrusky.com/advanced-checkbox-hack
 */
 
body {
    -webkit-animation: bugfix infinite 1s;
}
 
@-webkit-keyframes bugfix {
    to {
      padding: 0;
    }
}
 
/**
 * позаботьтимся о средних и маленьких экранах
 * мобильных устройств
 */
 
@media screen and (min-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
}
 
@media screen and (max-width: 320px) {
    html,
    body {
      margin: 0;
      overflow-x: hidden;
    }
    .nav {
      width: 100%;
      box-shadow: none
    }
}
 
/**
 * Формируем стиль заголовка (логотип) панели 
*/
 
.nav h2 {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}
 
.nav h2 a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
}
 
 
/*плавное появление заголовка (логотипа) при раскрытии панели */
 
[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
 
/**
 * формируем непосредственно само меню
 * используем неупорядоченный список для пунктов меню
 * прикрутим трансфомации и плавные переходы
 */
 
.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}
 
[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
 
/* определяем интервалы появления пунктов меню */
 
.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}
 
.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}
 
.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}
 
.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}
 
.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}
 
.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}
 
 
/**
 * оформление ссылок пунктов меню
 */
 
.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #dadada;
    width: 100%;
    text-decoration: none;
    /* плавный переход */
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}
 
/**
 * состояние ссылок меню при наведении
 */
 
.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}
 
/**
 * линия подчеркивания ссылок меню
 */
 
.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
 
.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
/**
 * анимируем линию подчеркивания 
 * ссылок при наведении
 */
 
.nav > ul > li > a:hover:before {
    width: 0%;
    background: #3bc1a0;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
 
.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}



body {
  font-family: sans-serif;
  margin: auto;
  max-width: 100%;
}
.mapp{
    
    width:100%;
}
.forma1{
     max-width:1280px;
      height:600px;
       margin:auto;
      position:absolute;

      
}
.forma{
     height:600px;
       width:300px;
     background-color: #313236;
   /*  position:absolute;*/
     z-index:1;
}
.map-responsive{
    overflow:hidden;
  /*  padding-bottom:56.25%;*/
  /* position:absolute; */
 
}
.map-responsive iframe{

    height:700px;
    width:100%;
   /*  position:absolute; */
    z-index:0;
}
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
.project__next img, .project__prev img{
  width:350px;
  height:200px;
}
.slick-slide {
padding-top:20px;
}
.slick-center {
  padding-top:0;
}
.slick-center img {
    width:350px;
  height:200px;
}

.shapka
{
    display: flex;
    flex-direction:column;
    width:100%;
    height:60px;
    
    max-width:1280px;
    margin:auto;
   /*  background-color:#123423;*/
}
.logo2
{
    display: flex;
    float:left;
   
    height:74px;
/* background-color:#8A7F8E;*/
 margin:2px;
 max-width:1280px;
}
.logo
{
    display: flex;
    float:left;
   
    height:50px;
/* background-color:#8A7F8E;*/
 margin:2px;
 max-width:1280px;
}
.shapka1
{
    display: flex;
    flex-direction:column;
    width:100%;
    height:700px;
    
   /*  background-color:#123423;*/
     margin:auto;
     max-width:1280px;
}
.logo1
{
    display: flex;
    float:left;
    margin:5px;
    height:75px;
/* background-color:#8A7F8E;*/
 
 max-width:1280px;
}
.mw{ max-width:1280px;
margin:auto;
    
}
      .colum1 {
    display: flex;
    flex-direction:column;
    float:left; /* Выравнивание по левому краю */
    /* Отступы вокруг картинки */
   }
   .seroe1{
       max-width: 100%;
       height:250px;
        background-color:#123423;
   }
   .seroe2{
       max-width: 100%;
       height:300px;
        background-color:#123423;
   }
   .seroe3{
       max-width: 100%;
       height:300px;
        background-color:#123423;
   }
    .aaa{
        width:72px;
        height:72px;
         display: flex;
    flex-direction:column;
    }
   .leftimg {
    display: flex;
    flex-direction:row;
    float:left; /* Выравнивание по левому краю */
    margin: 0px 30px 0px 30px; /* Отступы вокруг картинки */
   }
   .leftimg1 {
    display: flex;
     margin:auto;
    flex-direction:row;
    float:left; /* Выравнивание по левому краю */
    /*margin: 0px 30px 0px 0px;  Отступы вокруг картинки */
   }
      .colum {
    display: flex;
    flex-direction:column;
    float:left; /* Выравнивание по левому краю */
    /* Отступы вокруг картинки */
   }
   .image{
       margin:auto;
     max-width:1500px;
     background-image:url(img/babastelecom.jpg);
     background-size:400%;
     height:800px;
   }
   .imagechto{
       margin:auto;
     max-width:1280px;
       height:700px;
   }
     .imagechto1{
       display: flex;
    flex-direction:row;
    float:left;
       width:200px;
       height:800px;
   }
   .colorim
   {
        background-color:#eae9e6;
         max-width:100%;
         height:250px;
   }
   .colorim1
   {
        background-color:#eae9e6;
         max-width:100%;
         height:50px;
   }
   .images{
        margin:auto;
     max-width:1600px;
     
   }
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}


.or1{
    display:none;
}

.or2{
    display:inline;
}
.logo12
{
    display: flex;
    float:left;
    margin:5px;
    height:75px;
/* background-color:#8A7F8E;*/
 
 max-width:1280px;
}
   .leftimg3 {
    display: flex;
    flex-direction:row;
    float:left; /* Выравнивание по левому краю */
    margin: 0px 30px 0px 30px; /* Отступы вокруг картинки */
   }
@media (orientation: landscape)
{
    .shapka1
{
    display: flex;
    flex-direction:column;
    width:100%;
    height:110px;
    
   /*  background-color:#123423;*/
     margin:auto;
     max-width:1280px;
}
    a {
  text-decoration: none;
}

nav {
    font-family: monospace;
}

.ul1 {
    border-radius: 15px;
 background: white;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.li1 {
    border-radius: 15px;
    color: #000;
   background: darkorange;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
  transition-duration: 0.5s;
}
  
.li1 a {
  color: #fff;
}

.li1:hover {
    background: red;
    cursor: pointer;
}

.ul1 .li1 .ul1 {
    background: orange;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
    left: 0;
  display: none;
}

.ul1 .li1:hover > .ul1,
.ul1 .li1 .ul1:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.ul1 .li1 .ul1 .li1 {
    clear: both;
  width: 100%;
}

    .or1{
    display:inline;
}

.or2{
    display:none;
}
 .colum1 {
    display: flex;
    flex-direction:row;
    float:left; /* Выравнивание по левому краю */
    /* Отступы вокруг картинки */
   }
.logo12
{
    display: flex;
    float:none;
    margin:5px;
    height:75px;
/* background-color:#8A7F8E;*/
 
 max-width:1280px;
}
   .leftimg3 {
    display: flex;
    flex-direction:row;
    float:none; /* Выравнивание по левому краю */
    margin: 0px 30px 0px 30px; /* Отступы вокруг картинки */
   }
      .seroe1{
       max-width: 100%;
       height:75px;
        background-color:#123423;
   }
   .seroe2{
       max-width: 100%;
       height:120px;
        background-color:#123423;
   }
   .seroe3{
       max-width: 100%;
       height:110px;
        background-color:#123423;
   }
      .image{
       margin:auto;
     max-width:1500px;
     background-image:url(img/babastelecom.jpg);
     background-size:100%;
     height:800px;
   }
   .button {
   /* геометрия элемента */
   width: 1200px;
   height: 50px;
   /* отступы между кнопками */
   margin-bottom: 5px;
   /* центрируем текст кнопки по вертикали */
   display: flex;
   margin:auto;
   justify-content: center;
   /* центрируем текст кнопки по горизонтали */
   text-align: center;
   /* чтобы работала геометрия и отступы у тега <a> */
   display: inline-block;
   /* убираем обводку у тега <a> */
   text-decoration: none;
   border-radius: 30px;
   background-color: red;
   color: #fff;
   }
}